<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device.width, initial-scale=1.0" />
    <title>Add new record</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <form action="{{ url_for('insert') }}" method="post">
        Empno:<br/>
        <input type="text" name="empno"><br/>
        Ename:<br/>
        <input type="text" name="ename"><br/>
        Age:<br/>
        <input type="text" name="age"><br/>
        Job:<br/>
        <input type="text" name="job"><br/>
        Salary:<br/>
        <input type="text" name="salary"><br/>
        <input type="submit" value="submit">
    </form> 
    <table class="table">
      <tr class="table__header">
        {% for header in headings %}
        <th class="table__cell">{{ header }}</th>
        {% endfor %}
      </tr>

      {% for row in data %}
      <tr class=table__row">
        {% for cell in row %}
        <td class="table__cell">{{ cell }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </body>
